<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

    <title>{% block title %}MetaLeague | Fantasy eSports{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>

    <!-- Stylesheets -->
    <link href="{{ asset('style/bootstrap.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{  asset('style/font-awesome.css') }}">

    <!-- Main stylesheet -->
    <link href="{{ asset('style/style.css') }}" rel="stylesheet">
    <link href="{{ asset('style/blue.css') }}" rel="stylesheet">

    {% block stylesheets %}{% endblock %}

    <!-- HTML5 Support for IE -->
    <!--[if lt IE 9]>
    <script src="{{ asset('js/html5shim.js') }}"></script>
    <![endif]-->

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('img/favicon/favicon.png') }}">

</head>

<body>

<!-- Header starts -->
<header>
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-3">
                <!-- Logo -->
                {{ include('MetaLeagueSiteBundle:Default:logo.html.twig') }}
            </div>

            <div class="col-md-8 col-sm-9">
                <!-- Navigation -->
                {{ include('MetaLeagueSiteBundle:Default:navigation.html.twig') }}

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <p>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</p>
                {% endif %}
            </div>

        </div>
    </div>
</header>

<!-- Seperator -->

<div class="sep"></div>

{% block body %}{% endblock %}

<!-- Footer starts -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="row">

                    <div class="col-md-4">
                        <div class="widget">
                            <h5>Contact</h5>
                            <hr />
                            <p>Praesent ultricies enim ac ipsum aliquet . Nullam justo nunc, dignissim at convallis posuere, sodales eu orci. </p>
                            <hr />
                            <i class="icon-home"></i> &nbsp; 123, Some Area. Los Angeles, CA, 54321.
                            <hr />
                            <i class="icon-phone"></i> &nbsp; +239-3823-3434
                            <hr />
                            <i class="icon-envelope-alt"></i> &nbsp; <a href="mailto:#">someone@company.com</a>
                            <hr />
                            <div class="social">
                                <a href="#"><i class="icon-facebook facebook"></i></a>
                                <a href="#"><i class="icon-twitter twitter"></i></a>
                                <a href="#"><i class="icon-linkedin linkedin"></i></a>
                                <a href="#"><i class="icon-google-plus google-plus"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="widget">
                            <h5>About Us</h5>
                            <hr />
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum dolor eget nisi fermentum quis hendrerit magna vestibulum. Curabitur pulvinar ornare vulputate scelerisque scelerisque ut consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum dolor eget nisi fermentum quis hendrerit magna vestibulum..</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="widget">
                            <h5>Links Goes Here</h5>
                            <hr />
                            <div class="two-col">
                                <div class="col-left">
                                    <ul>
                                        <li><a href="#">Condimentum</a></li>
                                        <li><a href="#">Etiam at</a></li>
                                        <li><a href="#">Fusce vel</a></li>
                                        <li><a href="#">Vivamus</a></li>
                                        <li><a href="#">Pellentesque</a></li>
                                        <li><a href="#">Vivamus</a></li>
                                    </ul>
                                </div>
                                <div class="col-right">
                                    <ul>
                                        <li><a href="#">Condimentum</a></li>
                                        <li><a href="#">Etiam at</a></li>
                                        <li><a href="#">Fusce vel</a></li>
                                        <li><a href="#">Vivamus</a></li>
                                        <li><a href="#">Pellentesque</a></li>
                                        <li><a href="#">Vivamus</a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>

                </div>

                <hr />
                <!-- Copyright info -->
                <p class="copy">Copyright &copy; 2012 | <a href="#">Your Site</a> - <a href="#">Home</a> | <a href="#">About Us</a> | <a href="#">Service</a> | Designed by <a href="http://responsivewebinc.com/bootstrap-themes">Bootstrap Themes</a></p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</footer>

<!-- Footer ends -->

<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>

<!-- JS -->
<script src="{{ asset('js/jquery.js') }}"></script> <!-- jQuery -->
<script src="{{ asset('js/bootstrap.js') }}"></script> <!-- Bootstrap -->
<script src="{{ asset('js/custom.js') }}"></script> <!-- Custom codes -->

{% block scripts %}{% endblock %}

</body>
</html>