{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Login</h2>
                        {% if error %}
                            <h4>Error: <span class="color">{{ error|trans }}</span></h4>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>


    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <h3 class="title">Register Today <span class="color">!!!</span></h3>
                    <h4 >Morbi tincidunt posuere turpis eu laoreet</h4>
                    <p>Nullam in est urna. In vitae adipiscing enim. Curabitur rhoncus condimentum lorem, non convallis dolor faucibus eget. In vitae adipiscing enim. Curabitur rhoncus condimentum lorem, non convallis dolor faucibus eget. In ut nulla est. </p>
                    <h5>Maecenas hendrerit neque id</h5>
                    <ul>
                        <li>Etiam adipiscing posuere justo, nec iaculis justo dictum non</li>
                        <li>Cras tincidunt mi non arcu hendrerit eleifend</li>
                        <li>Aenean ullamcorper justo tincidunt justo aliquet et lobortis diam faucibus</li>
                        <li>Maecenas hendrerit neque id ante dictum mattis</li>
                        <li>Vivamus non neque lacus, et cursus tortor</li>
                    </ul>

                    <p>Nullam in est urna. In vitae adipiscing enim. In ut nulla est. Nullam in est urna. In vitae adipiscing enim. Curabitur rhoncus condimentum lorem, non convallis dolor faucibus eget. In ut nulla est. </p>
                </div>


                <div class="col-md-6">
                    <div class="formy well">

                        <h4 class="title">Login to Your Account</h4>

                        <div class="form">
                            <form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal" role="form">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                                <div class="form-group">
                                    <label for="username" class="col-lg-2 control-label">{{ 'security.login.username'|trans }}</label>
                                    <div class="col-lg-10">
                                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="password" class="col-lg-2 control-label">{{ 'security.login.password'|trans }}</label>
                                    <div class="col-lg-10">
                                        <input type="password" id="password" name="_password" required="required" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans }}
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}">{{ 'security.login.submit'|trans }}</button>
                                    </div>
                                </div>
                            </form>

                            <hr>
                            <h5>New Account</h5>
                            <!-- Register link -->
                            Don't have an Account? <b><a href="{{ path('fos_user_registration_register') }}">Register</a></b>

                            <br>
                            <hr>

                            <h5>Forgot Password?</h5>
                            Reset your <a href="{{ path('fos_user_resetting_request') }}">password</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock fos_user_content %}
